.cases-preview {
    position: relative;
    padding-top: 8px;

    &__title {
        margin: 0 auto;
        padding: 10px 43px;
        width: 237px;
        background: hsla(0, 0%, 100%, 0.1);
        border-radius: 30px 0;
        color: #FCFFD5;
    }
    &__content {
        margin-top: 8px;
        padding-bottom: 60px;
        background: hsla(0, 0%, 100%, 0.1);
    }
    &__list {
        display: flex;
        justify-content: center;
    }
    &__trigger {
        padding: 19px 22px;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;

        color: #FCFFD5;
        transition: all 0.5s;
        cursor: pointer;
        &:hover, &.active {
            background: hsla(0, 0%, 100%, 0.15);

            border-radius: 30px 0;
        }
    }
    &__bottom {
        margin-top: 38px;
        min-height: 411px;
    }
    &__tab {
        margin: 0 auto;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter:saturate(.1) brightness(0.05)
    }
}

@media screen and (max-width: 1230px) {
    .cases-preview {
        &__trigger {
            padding: 12px;
        }
    }
}
@media screen and (max-width: 992px) {
    .cases-preview {
        &__bottom {
            display: none;
        }
        &__trigger {
            padding: 23px;

            display: flex;
            justify-content: center;
            align-items: center;

            background: rgba(255,255,255,.05);
            border-radius: 30px 0;

            &.active {
                background: rgba(255,255,255,.05);
            }

            &:hover {
                background: rgba(255,255,255,.15);
            }
        }
        &__list {
            padding-top: 35px;

            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
            grid-auto-rows: 1fr;
            column-gap: 21px;
            row-gap: 17px;
        }
    }
}