.contacts-block {
    position: relative;
    padding-top: 102px;
    padding-bottom: 113px;
    overflow: hidden;

    &_noimg {
        background: linear-gradient(247.06deg, #1F1B1B 16.35%, #282220 113.78%);
    }

    &__content {
        margin-top: 66px;

        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
    }
    &__info {
        width: 670px;
    }
    &__map {
        width: 100%;
        height: 288px;

        border-radius: 30px 0;
        overflow: hidden;
    }
    &__office {
        margin-top: 15px;

        display: flex;
        column-gap: 47px;
        row-gap: 8px;
        align-items: center;
    }
    &__address {
        font-weight: 400;
        font-size: 18px;
        line-height: 172.4%;

        letter-spacing: 0.03em;

        color: #FFFFFF;
    }
    &__schedule {
        display: flex;
        gap: 25px;

        font-weight: 400;
        font-size: 14px;
        line-height: 126.4%;

        letter-spacing: 0.03em;
        color: #FFFFFF;
        opacity: 0.7;
    }
    &__links {
        margin-top: 6px;
        display: flex;
        gap: 12px;
    }
    &__telmail {
        display: flex;
        flex-direction: column;
    }
    &__phone {
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        &:hover {
            color: #FCFFD4;
        }
    }
    &__mail {
        margin-top: 5px;

        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.5;
        transition: all 0.5s;
        &:hover {
            opacity: 1;
            color: #FCFFD4;
        }
    }
    
    &__disc {
        position: absolute;
        bottom: 0;
        right:0;
        transform: translate(50%, 50%) scale(0.7);
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}

@media screen and (max-width: 1230px) {
    .contacts-block {
        padding-bottom: 100px;
        &__content {
            column-gap: 30px;
            align-items: flex-start
        }
    }
}

@media screen and (max-width: 992px) {
    .contacts-block {
        padding-top: 80px;
        padding-bottom: 80px;
        &__content {
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
        }
        &__info {
            width: 100%;
        }
        &__form {
            max-width: 100%;
            margin-top: 35px;
        }
        &__office {
            flex-wrap: wrap;
        }
        &__links {
            margin-top: 15px;
        }
    }
}

@media screen and (max-width: 768px) {
    .contacts-block {
        padding-top: 60px;
        padding-bottom: 60px;

        &__content {
            margin-top: 30px;
        }
        &__form {
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 450px) {
    .contacts-block {
        &__map {
            height: 150px;
        }
    }
}