.partners {
    padding-top: 80px;
    padding-bottom: 80px;

    background: linear-gradient(180deg, #222222 0%, #1F241D 118.29%);

    &__list {
        margin-top: 46px;

        display: grid;
        grid-template-columns: repeat(6, auto);
        align-items: center;
        gap: 30px;

        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // flex-wrap: wrap;
    }
    &__item {
        max-width: 170px;

        filter:brightness(0.6);
        transition: all 0.5s;

        &:hover {
            filter: none;
        }
    }
}

@media screen and (max-width: 992px) {
    .partners {
        padding-bottom: 64px;
        padding-top: 75px;
        &__list {
            justify-items: center;
            grid-template-columns: repeat(3, auto);
        }
    }
}

@media screen and (max-width: 450px) {
    .partners {
        display: none;
    }
}