.pres-serv {
    padding-top: 57px;
    padding-bottom: 80px;

    position: relative;

    background: linear-gradient(116.64deg, #26241E 35.16%, #15130D 71.84%), #1F1E1B;
    overflow: hidden;

    &__control {
        margin-top: 12px;
    }
    &__grid {
        margin-top: 42px;

        display: grid;
        grid-template-columns: repeat(3, 370px);
        grid-auto-rows: minmax(172px, 1fr);
        justify-content: space-between;
        gap: 30px;
    }
    &__card {
        padding: 26px 27px 26px 21px;

        background: #2C2B29;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        border-radius: 3px;

        cursor: pointer;

        position: relative;
        z-index: 1;
        overflow: hidden;
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: -3px;

            width: 3px;
            height: 100%;
            background: #FCFFD5;

            transition: all .5s;
        }
        &::after {
            position: absolute;
            content:'';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            opacity: 0;

            transition: all 0.5s;
            background: linear-gradient(120.09deg, #95803D 2.42%, #564715 107.07%);
        }

        transition: all 0.5s;
        &:hover {
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.4);

            &:before {
                left: 0;
            }
            &::after {
                opacity: 1;
            }
        }
    }
    &__case {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        
        padding-bottom: 14px;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;

            width: 106px;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
    &__name {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
    }
    &__descr {
        margin-top: 10px;

        font-weight: 400;
        font-size: 15px;
        line-height: 20px;

        color: #FFFFFF;
        opacity: 0.5;
    }
    &__disc {
        position: absolute;
        left: 80%;
        top: 45%;
        transform: rotateZ(257deg);
    }
    &__more {
        background: transparent;
        border: none;
        text-align: center;
        padding: 0;

        margin: 37px auto 0px;
        padding-bottom: 5px;
        display: block;
        position: relative;
        width: max-content;

        font-weight: 400;
        font-size: 15px;
        line-height: 20px;

        color: #FFFFFF;
        opacity: 0.5;
        transition: all 0.5s;

        &:after {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            bottom: -1px;
            height: 1px;
            background: rgb(252,255,212);
            background: linear-gradient(103deg, rgba(252,255,212,1) 0%, rgba(56,57,33,1) 100%);

            // box-shadow: 0px 0px 6px rgba(252, 255, 212, 0.4);
        }

        &:hover {
            text-shadow: 0px 0px 5px rgba(252, 255, 212, 0.82);
            opacity: 1;
            color: #FFF;
        }
    }
}


@media screen and (max-width: 1230px) {
    .pres-serv {
        &__grid {
            grid-template-columns: repeat(3, 300px);
        }
        &__name {
            font-size: 18px;
            line-height: 24px;
        }
    }
}

@media screen and (max-width: 992px) {
    .pres-serv {
        padding-bottom: 70px;
        &__grid {
            grid-template-columns: repeat(2, 350px);
            row-gap: 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .pres-serv {
        padding-bottom: 60px;
        &__grid {
            width: 50%;
            grid-template-columns: repeat(auto-fill, minmax(260px, 350px));
            justify-content: center;
        }
    }
}

@media screen and (max-width: 450px) {
    .pres-serv {
        &__card {
            padding: 15px;
        }
    }
}